a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #666666;
}

p {
    font-size: 18px;
}

.striker {
    text-decoration: line-through;
    color: #aaaaaa;
}

.completed_task {
    color: #aaaaaa;
}

.uncompleted_task {
    color: #222222;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.col-md-8 {
    margin: 0 auto 1rem auto;
}

.col-md-4 {
    margin: 0 auto 1rem auto;
}

.row {
    margin-top: 2rem;
}
