{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-8">
      <p>Hello there!<br>With this minimalistic to-do app, you can create your task list,
            edit tasks, cross off completed tasks or delete them.
      </p>
      <img src="{% static 'img/img1.png' %}" style="max-width:85%; border:1px solid lightgray;">
    </div>
    <div class="col-md-8">
      <div class="alert alert-warning" style="display: inline-block; color: black">
        To use this app please go through simple registration (without email confirmation).&nbsp
        <a class="ml-2" href="{% url 'register' %}">Sign&nbspUp</a>
      </div>
    </div>
{% endblock %}